
/* === For sticky footer === */
/* based on: https://getbootstrap.com/docs/4.1/examples/sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 56px; /* Margin bottom by footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px; /* Set the fixed height of the footer here */
    border-top:#FE5A5F 6px solid;
}

footer div div div {
    height: 50px;
    position: relative;
}

footer div div div p {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    padding: 0px;
    margin: 0px;
}

/* === A few extra specific rules for the portfolio layout === */

.portImage {
    width: 100%;
}

.portTile p {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    margin-bottom: 0px;
}

/* === Extra styling === */

body {
    /* I split my "body" attributes into two entries in the stylesheet so that I could more clearly notate what they were for (extra styling vs sticky footer), and it didn't seem to break anything. I understand that his normally wouldn't be what you'd want to do. */
    background-image: url("../images/topography.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.border1 {
    border-bottom: #FE5A5F 2px solid;
}

.border2 {
    border-bottom: #CCCCCC 3px solid;
}

.navbar-brand {
    font-size: 25px;
}

.normtext {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: #777777;
    font-size: 14px;
}

/* === Bootstrap default overrides === */

.nav-link {
    color: #888888!important;
    font-size: 16px!important;
    font-family: Arial, Helvetica, sans-serif!important;
}

h1 {
    font-size: 2em!important;
    font-weight: 700!important;
}

.btn-primary {
    background-color: #4AAAA4;
    border-color: #55595C;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: #FE5A5F;
}

.border {
    border-color: #007A87!important;
}

.bg-primary { background-color: #007A87!important; }
.bg-secondary { background-color: #FE5A5F!important; }
.bg-light { background-color: #CED0CB!important; }
.bg-dark { background-color: #55595C!important; }

.text-primary { color: #767776!important ; }
.text-secondary { color: #007A87!important; }
